*.tpr
*.xtc
*.ff
*.mdp
*OLVAR
COLVAR.*
HILLS_*
HILL*
explorative_meta/meta_nmRec_2/FES
explorative_meta/meta_nmRec_1/FES
explorative_meta/Multi_Walkers/data/COLVAR.*
explorative_meta/Multi_Walkers/FES
explorative_meta/meta_nmRec_2/COLVAR
explorative_meta/meta_nmRec_2/COLVAR
wt_mdyn/nmRec_GRK1_WTMW/data/COLVAR.0
wt_mdyn/nmRec_GRK1_WTMW/data/COLVAR.1
wt_mdyn/nmRec_GRK1_WTMW/data/COLVAR.2
wt_mdyn/nmRec_GRK1_WTMW/data/COLVAR.3
wt_mdyn/nmRec_GRK1_WTMW/data/COLVAR.4
wt_mdyn/nmRec_GRK1_WTMW/data/COLVAR.5
wt_mdyn/nmRec_WTMW/data/COLVAR.0
wt_mdyn/nmRec_WTMW/data/COLVAR.1
wt_mdyn/nmRec_WTMW/data/COLVAR.2
wt_mdyn/nmRec_WTMW/data/COLVAR.3
wt_mdyn/nmRec_WTMW/data/COLVAR.4
wt_mdyn/nmRec_WTMW/data/COLVAR.5
explorative_meta/meta_nmRec_2/COLVAR
explorative_meta/meta_nmRec_2/COLVAR
explorative_meta/meta_nmRec_2/COLVAR
explorative_meta/meta_nmRec_2/COLVAR
wt_mdyn/nmRec_WT/COLVAR
explorative_meta/meta_nmRec_2/COLVAR
wt_mdyn/nmRec/FES
wt_mdyn/Walk_MPI/nmRec_mw/FES
wt_mdyn/Walk_MPI/nmRec_mw/data
wt_mdyn/nmRec_GRK1/FES
wt_mdyn/Walk_MPI/nmRec_GRK1_mw/FES
wt_mdyn/Walk_MPI/nmRec_GRK1_mw/data
