*.tpr
*.xtc
*.ff
*.mdp
explorative_meta/meta_nmRec_1/FES
explorative_meta/Multi_Walkers/data/COLVAR.*
explorative_meta/Multi_Walkers/FES
explorative_meta/meta_nmRec_2/COLVAR
explorative_meta/meta_nmRec_2/COLVAR
mdyn/nmRec_GRK1_WTMW/data/COLVAR.0
mdyn/nmRec_GRK1_WTMW/data/COLVAR.1
mdyn/nmRec_GRK1_WTMW/data/COLVAR.2
mdyn/nmRec_GRK1_WTMW/data/COLVAR.3
mdyn/nmRec_GRK1_WTMW/data/COLVAR.4
mdyn/nmRec_GRK1_WTMW/data/COLVAR.5
mdyn/nmRec_WTMW/data/COLVAR.0
mdyn/nmRec_WTMW/data/COLVAR.1
mdyn/nmRec_WTMW/data/COLVAR.2
mdyn/nmRec_WTMW/data/COLVAR.3
mdyn/nmRec_WTMW/data/COLVAR.4
mdyn/nmRec_WTMW/data/COLVAR.5
explorative_meta/meta_nmRec_2/COLVAR
explorative_meta/meta_nmRec_2/COLVAR
explorative_meta/meta_nmRec_2/COLVAR
explorative_meta/meta_nmRec_2/COLVAR
mdyn/nmRec_WT/COLVAR
explorative_meta/meta_nmRec_2/COLVAR
